@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  font-family: "Big Shoulders", sans-serif;
  font-size: 20px;
  letter-spacing: 3.64px;
  padding: 24px 35px;
  background-color: #151515;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  position: relative;
  left: 100px;
}
.button::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -56px;
  width: 56px;
  height: 72px;
  background-color: #D5966C;
  background-image: url("/CSS-Tarea-entregable-3-Modern-Art-Gallery/img/flecha_blanca.svg");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .button::before {
    left: 200px;
  }
}
@media (min-width: 1200px) {
  .button {
    left: 330px;
  }
}
@media (min-width: 1440px) {
  .button {
    position: relative;
    margin: 0;
    margin-top: 100px;
    bottom: 193px;
    left: 730px;
  }
}

.button-mapa {
  display: inline-block;
  font-family: "Big Shoulders", sans-serif;
  font-size: 20px;
  letter-spacing: 3.64px;
  padding: 24px 35px;
  background-color: #151515;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  position: relative;
  left: 100px;
  z-index: 10;
}
.button-mapa::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -56px;
  width: 56px;
  height: 72px;
  background-color: #D5966C;
  background-image: url("/CSS-Tarea-entregable-3-Modern-Art-Gallery/img/flecha_de_vuelta.svg");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .button-mapa {
    left: 187px;
  }
}

.footer {
  margin-top: 120px;
  background-color: #151515;
  width: 100%;
  padding-bottom: 50px;
}
@media (min-width: 1200px) {
  .footer {
    width: 110%;
  }
}
@media (min-width: 1440px) {
  .footer {
    width: 110%;
  }
}
@media (min-width: 1200px) {
  .footer .container {
    display: flex;
    gap: 60px;
    flex-direction: row;
    padding-top: 50px;
  }
}
@media (min-width: 1440px) {
  .footer .container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    justify-content: space-around;
    align-items: center;
  }
}
.footer__logo {
  margin-top: 48px;
  margin-left: 32px;
  width: 20%;
}
@media (min-width: 1200px) {
  .footer__logo {
    width: 100%;
  }
}
.footer__subtittle {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 100;
  line-height: 28px;
  width: 90%;
  margin-top: 38px;
  margin-bottom: 38px;
  margin-left: 32px;
  margin-right: 32px;
}
@media (min-width: 1200px) {
  .footer__subtittle {
    width: 40%;
  }
}
@media (min-width: 1440px) {
  .footer__subtittle {
    width: 25%;
  }
}
.footer__social_media {
  display: flex;
  gap: 20px;
  padding-left: 32px;
}
.footer__social_media a img {
  width: 120%;
}
@media (min-width: 1200px) {
  .footer__social_media {
    margin-top: 50px;
  }
}

.header {
  margin-bottom: 120px;
}
@media (min-width: 1024px) {
  .header {
    margin-left: 200px;
  }
}
@media (min-width: 1200px) {
  .header {
    margin-left: 0px;
  }
}
@media (min-width: 1440px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .header .container {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .header .container {
    margin-left: 0px;
  }
}
.header__img-mobile {
  max-width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 768px) {
  .header__img-mobile {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header__img-mobile {
    display: none;
  }
}
.header__img-tablet {
  display: none;
  position: relative;
}
@media (min-width: 1200px) {
  .header__img-tablet {
    display: block;
  }
}
@media (min-width: 768px) {
  .header__img-tablet {
    width: 437px;
    height: 700px;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .header .header__img-tablet-caja {
    height: 700px;
    width: 450px;
    background-color: #151515;
  }
}
@media (min-width: 768px) {
  .header__content {
    width: 378PX;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 10%;
    translate: 95% -100%;
  }
}
@media (min-width: 1024px) {
  .header__content {
    margin-left: 150px;
  }
}
@media (min-width: 1200px) {
  .header__content {
    margin: 0;
    margin-top: 100px;
  }
}
.header__tittle {
  width: 72%;
  font-family: "Big Shoulders", sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 55px;
  margin-top: 32px;
  margin-bottom: 32px;
}
@media (min-width: 1200px) {
  .header__tittle {
    position: relative;
    left: -210px;
    color: #FFFFFF;
    margin-top: 40px;
    bottom: -60px;
  }
}
@media (min-width: 1440px) {
  .header__tittle {
    position: relative;
    left: -210px;
    color: #FFFFFF;
    margin-top: 40px;
    bottom: -60px;
    left: 160px;
  }
}
.header__subtittle {
  color: #444444;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding-right: 40px;
  margin-bottom: 32px;
}
@media (min-width: 1200px) {
  .header__subtittle {
    position: relative;
    margin: 0;
    margin-top: 100px;
    bottom: 153px;
    left: 330px;
  }
}
@media (min-width: 1440px) {
  .header__subtittle {
    position: relative;
    margin: 0;
    margin-top: 100px;
    bottom: 153px;
    left: 730px;
  }
}

.container {
  margin-left: 16px;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .container {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (min-width: 1200px) {
  .container {
    margin-left: 165px;
    margin-right: 165px;
  }
}

@media (min-width: 1200px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .hero .container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: auto;
    gap: 24px;
    grid-template-areas: "title img1" "text img1" "img2 img3" "img2 footer";
    width: 100%;
    max-width: 820px;
    padding: 32px 16px;
  }
}
@media (min-width: 1440px) {
  .hero .container {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .hero__content {
    display: contents;
  }
}
.hero__content .img {
  width: 100%;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .hero__content .img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 768px) {
  .hero__content .img-1 {
    grid-area: img1;
    width: 364px;
  }
  .hero__content .img-2 {
    grid-area: img2;
    width: 400px;
    height: 721px;
  }
  .hero__content .img-3 {
    grid-area: img3;
    width: 280px;
    height: 313px;
    position: relative;
    right: -85px;
  }
}
@media (min-width: 1200px) {
  .hero__content .img-1 {
    grid-area: img1;
    width: 635px;
    height: 400px;
    position: relative;
    left: 140px;
  }
  .hero__content .img-2 {
    grid-area: img2;
    width: 635px;
    height: 720px;
  }
  .hero__content .img-3 {
    grid-area: img3;
    width: 445px;
    height: 313px;
    position: relative;
    right: -330px;
  }
}
.hero__tittle {
  font-family: "Big Shoulders", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 45px;
  color: #151515;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .hero__tittle {
    width: 223px;
    height: 135px;
  }
}
@media (min-width: 1200px) {
  .hero__tittle {
    width: 330px;
    height: 135px;
    font-size: 55px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .hero__tittle {
    width: 330px;
    height: 135px;
    font-size: 55px;
    line-height: 60px;
  }
}
.hero__subtittle {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #444444;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .hero__subtittle {
    width: 223px;
    height: 135px;
    position: relative;
    top: -31px;
  }
}
.hero__footer {
  background-color: #151515;
  width: 360px;
  height: 293px;
}
@media (min-width: 768px) {
  .hero__footer {
    grid-area: footer;
    background-color: #151515;
    width: 280px;
    height: 396px;
    position: relative;
    right: -85px;
    top: -29px;
  }
}
@media (min-width: 1200px) {
  .hero__footer {
    grid-area: footer;
    background-color: #151515;
    width: 445px;
    height: 396px;
    position: relative;
    right: -330px;
    top: -29px;
  }
}
.hero__footer-tittle {
  color: #FFFFFF;
  font-family: "Big Shoulders", sans-serif;
  font-size: 50px;
  line-height: 45px;
  padding: 48px 25px 0px 25px;
}
.hero__footer-subtittle {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 100;
  line-height: 28px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.mapa-hero {
  background-color: #151515;
  height: 493px;
}
@media (min-width: 768px) {
  .mapa-hero .container {
    display: flex;
    gap: 68px;
  }
}
@media (min-width: 1200px) {
  .mapa-hero .container {
    display: flex;
    gap: 300px;
  }
}
@media (min-width: 768px) {
  .mapa-hero .container .flex-junto {
    margin-top: 88px;
    width: 600px;
  }
}
@media (min-width: 1200px) {
  .mapa-hero .container .flex-junto {
    margin-top: 88px;
    width: 600px;
  }
}
.mapa-hero__tittle {
  font-family: "Big Shoulders", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 45px;
  color: #FFFFFF;
  padding-top: 50px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .mapa-hero__tittle {
    font-size: 55px;
    margin-top: 88px;
    padding-top: 0;
    line-height: 60px;
  }
}
.mapa-hero__subtittle {
  font-family: "Big Shoulders", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 32px;
  color: #D5966C;
  margin-bottom: 32px;
}
.mapa-hero__direction {
  font-size: 20px;
  font-weight: 100;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.mapa-hero__body {
  font-size: 20px;
  font-weight: 100;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.mapa {
  height: 545px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .mapa {
    width: 805px;
    height: 1173px;
  }
}
@media (min-width: 1024px) {
  .mapa {
    height: 480px;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .mapa {
    height: 550px;
  }
}
.mapa__mapa {
  width: 100%;
  position: relative;
  top: -75px;
  z-index: -2;
}
@media (min-width: 1200px) {
  .mapa__mapa {
    display: none;
  }
}
@media (min-width: 1024px) {
  .mapa__mapa {
    display: none;
  }
}
.mapa__desktop {
  display: none;
}
@media (min-width: 768px) {
  .mapa__desktop {
    display: none;
  }
}
@media (min-width: 1024px) {
  .mapa__desktop {
    display: block;
    width: 1180px;
    position: absolute;
    top: 0px;
  }
}
@media (min-width: 1200px) {
  .mapa__desktop {
    display: block;
    width: 1280px;
    height: 600px;
    position: absolute;
    top: -50px;
  }
}
@media (min-width: 1440px) {
  .mapa__desktop {
    display: block;
    width: 1905px;
  }
}
.mapa__location {
  position: relative;
  top: -419px;
  right: -42%;
}
@media (min-width: 768px) {
  .mapa__location {
    top: -660px;
    right: -46%;
  }
}
@media (min-width: 1200px) {
  .mapa__location {
    display: none;
  }
}
@media (min-width: 1024px) {
  .mapa__location {
    top: -784px;
    right: -59%;
  }
}

.mapa-footer {
  background-color: #D5966C;
  height: 336px;
}
@media (min-width: 768px) {
  .mapa-footer {
    height: 216px;
  }
}
.mapa-footer .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 30px;
}
@media (min-width: 768px) {
  .mapa-footer .container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    padding-top: 50px;
  }
}
@media (min-width: 1200px) {
  .mapa-footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .mapa-footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.mapa-footer__logo {
  padding-top: 50px;
}
@media (min-width: 768px) {
  .mapa-footer__logo {
    margin-top: 0;
    padding-top: 0;
  }
}
.mapa-footer p {
  font-size: 19px;
  font-weight: 300;
  line-height: 26px;
  color: #151515;
}
@media (min-width: 768px) {
  .mapa-footer p {
    width: 281px;
  }
}
@media (min-width: 1200px) {
  .mapa-footer p {
    width: 450px;
  }
}
.mapa-footer__social_media {
  display: flex;
  gap: 30px;
}
.mapa-footer__social_media a img {
  width: 130%;
}

html * {
  font-family: "Outfit", sans-serif;
}

body {
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */
