$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$tittle-font: "Big Shoulders", sans-serif;
$body-font: "Outfit", sans-serif;

//Colors

$orange: #D5966C;
$black: #151515;
$grey: #444444;
$white: #FFFFFF;


